@import 'fonts.css';

:root {
  --body: #fff;
  --text: #323232;
  --link: #7177f1;
  --title: #7177f1;
  --btn: #7177f1;
  --dots-active: #7177f1;
  --dots: #828282;
  --font-primary: 'Montserrat';
  --font-secondary: 'Trebuchet';
}

body {
  background: var(--body);
  font-family: var(--font-primary);
  color: var(--text);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.logo::before {
  content: url(../img/svg/logo-light.svg);
}

.all-btn {
  background: var(--btn);
  padding: 10px 0;
  text-align: center;
  display: block;
  color: #fff !important;
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  border-radius: 8px;
  transition: 500ms;
}

.all-btn:hover {
  background: #fff;
  color: var(--btn) !important;
}

.title {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--title);
}

@keyframes circle {
  0% {
    transform: rotate(0) scale(1.3);
    filter: hue-rotate(0);
  }

  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes cube {
  0% {
    transform: translate(0%, 0%) rotate(0);
  }

  20% {
    transform: translate(1900%, 750%) rotate(45deg);
  }

  40% {
    transform: translate(1500%, 150%) rotate(90deg);
  }

  60% {
    transform: translate(200%, 820%) rotate(135deg);
  }

  80% {
    transform: translate(850%, 550%) rotate(180deg);
  }

  100% {
    transform: translate(0%, 0%) rotate(360deg);
  }
}

/* header start */

.header__nav {
  position: relative;
}

.header__nav::before {
  content: '';
  position: absolute;
  width: 3.5vw;
  height: 3.7vw;
  left: 12%;
  top: 32px;
  border: 0.3vw solid #790FF1;
  border-radius: 50%;
  z-index: -1;
  animation: circle 1s linear infinite alternate;
}

.header__nav::after {
  content: '';
  position: absolute;
  width: 4vw;
  height: 4vw;
  left: 4%;
  top: 92.64px;
  border: 0.3vw solid #9297EF;
  z-index: -1;
  animation: cube 30s linear infinite alternate;
}

.header__list {
  column-gap: 30px;
  row-gap: 15px;
}

.header__link {
  color: var(--link);
  font-size: 24px;
  line-height: 16px;
  text-transform: capitalize;
  transition: 500ms;
}

.header__link:hover {
  color: var(--text);
}

.header__link-btn {
  width: 190px;
}

.header__menu {
  width: 50px;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  position: relative;
}

.header__menu:focus {
  box-shadow: unset;
}

.header__menu.collapsed {
  background: var(--text);
  transition: 500ms;
}

.header__menu::before,
.header__menu::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text);
  transition: 500ms;
}

.header__menu::after {
  top: 10px;
}

.header__menu:not(.collapsed)::before {
  top: 0;
  transform: rotate(-45deg);
}

.header__menu:not(.collapsed)::after {
  top: 0;
  transform: rotate(45deg);
}

.header__content {
  padding: 42px 0 70px;
  position: relative;
}

.header__content::before {
  content: '';
  position: absolute;
  width: 5vw;
  height: 5vw;
  right: 6%;
  top: 180.26px;
  border: 0.3vw solid #9297EF;
  animation: circle 5s linear infinite alternate;
}

.header__content::after {
  content: '';
  position: absolute;
  width: 4vw;
  height: 4vw;
  right: 16%;
  top: 419.38px;
  border: 0.3vw solid #9297EF;
  animation: circle 5s linear infinite alternate;
}

.header__subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: var(--text);
}

.header__title {
  margin-bottom: 24px;
}

.header__btn {
  max-width: 300px;
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 auto 50px;
}

.header__tech-card:first-of-type .header__tech-brand {
  color: #E44F26;
}

.header__tech-card:nth-of-type(2) .header__tech-brand {
  color: #1572B6;
}

.header__tech-card:last-of-type .header__tech-brand {
  color: #790FF1;
}

.header__tech-name {
  font-size: 20px;
  font-weight: 900;
  color: var(--title);
  text-transform: uppercase;
}

.header__carousel-indicators {
  position: static;
  margin: 50px 0 0;
  column-gap: 30px;
}

.header__indicators-dots {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background: var(--dots);
  border: none !important;
  opacity: 1 !important;
}

.header__indicators-dots.active {
  background: var(--dots-active);
}

.header__carousel-img {
  max-height: 500px;
}

/* header end */