@media (prefers-color-scheme: dark) {
  
  :root {
    --body: #151437;
    --text: #fff;
    --dots: #ebebeb;
    --title-tab:#151437;
  }
  
  .logo::before {
    content: url(../img/svg/logo-dark.svg);
  }
  
}

@media (max-width: 1440px) {
  .about::before,
  .works::before {
    display: none;
  }
}